<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<header class="header-nav">
    <a class="logo" href="index.html">영화 관리</a>
    <div>
        <a href="create.html">영화 등록</a>
        <a href="list.html">영화 목록</a>
    </div>
</header>

<body>
    <div id="app" class="container">
        <h1>영화 목록</h1>
        <table class="movie-list">
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>감독</th>
                <th>장르</th>
                <th>상영시간</th>
            </tr>
            <tr v-if="movieArr == null || movieArr.length == 0">
                <td colspan="5">등록된 영화가 없습니다.</td>
            </tr>
            <tr v-else v-for="movie in movieArr">
                <td>{{movie.id}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.runningTime}}분</td>
            </tr>
        </table>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    movieArr: JSON.parse(localStorage.getItem("movieArr"))
                    // movieArr: []
                }
            }
        });
    </script>
</body>

</html>