<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        ID : <input type="text" name="" id="" v-model="id" placeholder="ID를 입력하세요.">
        <button @click="sendId">검색</button>
        <input type="text" name="" id="" v-model="id" placeholder="ID를 입력하세요. 2" @keyup="sendId">
        <input type="text" name="" id="" v-model="id" placeholder="ID를 입력하세요. 3" @keyup.enter="sendId">
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    id: ""
                }
            },
            methods: {
                sendId() {
                    alert(this.id);
                }
            }
        })
    </script>
</body>

</html>