<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello Vue</title>
</head>

<body>
    <div id="app">
        <div>
            <!-- v-for -->
            <h2>범위 5</h2>
            <span v-for="i in 5">{{i}}</span>
        </div>
        <div>
            <!-- v-for 문자열 배열 -->
            <h2>문자열</h2>
            <ul>
                <li v-for="city in cities">{{city}}</li>
            </ul>
            <ul>
                <!-- 순서가 중요하다. -->
                <!-- 요소, 인덱스 순 -->
                <li v-for="city, index in cities">{{index + 1}}. {{city}}</li>
            </ul>
        </div>
        <div>
            <!-- v-for 객체 배열 -->
            <h2>객체 배열</h2>
            <ul>
                <li v-for="user in users">
                    이름: {{user.name}}, 나이: {{user.age}}
                </li>
            </ul>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    cities: ["서울", "인천", "부산", "광주", "울산"],
                    users: [
                        {
                            name: "홍길동",
                            age: 24

                        },
                        {
                            name: "김철수",
                            age: 20
                        },
                        {
                            name: "이유리",
                            age: 36
                        },
                        {
                            name: "박지성",
                            age: 45
                        }, {
                            name: "유재석",
                            age: 51
                        }
                    ]
                }
            }
        });
    </script>
</body>

</html>