<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello Vue</title>
</head>

<body>
    <div id="app">
        <div>
            거리 : <input type="number" v-model="dist">
        </div>
        <div>
            <!-- v-if -->
            요금 : 
            <span v-if="dist < 10">무료</span>
            <span v-else-if="dist < 20">1000원</span>
            <span v-else>2000원</span>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    dist: 10
                }
            }
        });
    </script>
</body>

</html>